[submodule "ufc"]
	path = ufc
	url = https://github.com/AkimJemi/ufc.git
[submodule "laptop_repository"]
	path = laptop_repository
	url = https://github.com/AkimJemi/laptop_repository.git
[submodule "git_practice"]
	path = git_practice
	url = https://github.com/AkimJemi/git_practice.git
